.pagination {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
.pagination__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: inherit;
  font-size: 16px;
}
.pagination__nums {
  display: flex;
  gap: 20px;
  max-width: 179px;
}
.pagination__nums-num {
  cursor: pointer;
  background-color: inherit;
  font-size: 16px;
}
.pagination__nums-num.dark {
  color: #ffff;
}
.pagination__nums-num.active {
  color: blue;
}
.pagination__prev-btn-text.dark {
  color: #ffff;
}
.pagination__next-btn-text.dark {
  color: #ffff;
}

@media (max-width: 580px) {
  .pagination__prev-btn-text,
  .pagination__next-btn-text {
    display: none;
  }
}

@media (max-width: 430px) {
  .pagination__prev-btn,
  .pagination__next-btn {
    display: none;
  }
  .pagination__nums {
    display: flex;
    gap: 10px;
    max-width: 179px;
  }
}
